.body {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    background-image: url(./assets/jungle.jpg);
    color: wheat;
    width: 100vw;
    height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -2;
    overflow: hidden;
}

.body:after {
    position: absolute;
    top: -5%;
    left: 0;
    content: '';
    width: 100vw;
    height: calc(100vh + 5%);
    background-color: rgba(0,0,0,.5);
    z-index: -1;
    backdrop-filter: blur(5px)
} 

.page__container {
    display: flex;
    padding:  0 40px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
}


.page__header {
    display: flex;
    justify-content: center;
    width: 100%;
    background: radial-gradient(circle, 
            rgba(31,255,98,0.4) 0%, 
            rgba(1,65,20,0.4) 48%, 
            rgba(3,44,15,1) 75%, 
            rgba(5,24,10,1) 100%);
    padding: .6rem;
}


.header__navlist {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    list-style: none;
}
.header__navitem {
    font-size: 20px;
}
.header__navlink {
    position: relative;
    color: #d7f7e1;
    text-decoration: none;
    font-size: 20px;
    transition: all 1s ease;
}
.header__navlink:before {
    position: absolute;
    content: '';
    bottom: 0;
    /* left: 50%; */
    transition: translateX(-50%);
    width: 0%;
    height: 1px;
    background-color:  #d7f7e1;
    transition: width .3s ease;
}
.header__navlink:hover:before {
    width: 100%;
    height: 2px;
}

.page__main {
    display: flex;
    justify-content: center;
}

.main__heading {
    margin-bottom: 3rem;
}
.advantages__list {
    list-style-type: none;
    padding: 0;
    display: flex;  
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}
.advantages__item {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.item__description {
    font-size: 18px;

}
.item__picture {

    max-width: clamp(50px, 4vw, 5vw);
    
    border-radius: 50%;
}



.achives__section {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 1vw;
}
.achieve__heading {
    text-align: center;
}
.achieve__description {
    font-size: 18px;
    line-height: 1.5;
}

